html{
	font-size: 16px;	
}

h1{
	text-align: center;
}

.center{
	text-align: center;
}
 

body {  
	padding-bottom: 50px;
	padding: 10px;
}

.input-group { margin-bottom: 10px; margin-top:20px; width: 100%; }
.form-actions{ margin-top:20px; }

.panel-title, table tbody tr.selected{
	background-color: rgba(0,150,136,.1);
	margin-top: 30px;
	margin-bottom: 30px;
}

.login-container {
  padding: 30px;
  max-width: 400px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.login-container input[type=text] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin: 0px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-container input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin: 0px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

 .login-container input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin: 0px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-radius: 2px;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

 .login-container select {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin: 0px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-radius: 2px;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

 .login-container input[type=date] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin: 0px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-radius: 2px;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

 .login-container textarea {
 	  height: 150px;
	  font-size: 16px;
	  width: 100%;
	  margin: 0px;
	  -webkit-appearance: none;
	  background: #fff;
	  border: 1px solid #d9d9d9;
	  border-top: 1px solid #c0c0c0;
	  border-radius: 2px;
	  padding: 0 8px;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  resize: none;
 }
 
 .well{
 	background-color: rgba(0,150,136,.1);
 }
 
 .well-other{
 	background-color: tan;
 }


.login-container input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: rgba(0,150,136,.1);
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

li.disabled {
   pointer-events: none;
   cursor: default;
}

img{
	margin-right: 10px;
}

li a{
	font-size: 17px;
	color: black !important;	    
}

li div.hello{
	position: relative;
    display: block;
    padding: 15px 15px;
    font-size: 17px;
    line-height: 20px;
    font-family: Roboto,sans-serif;
}


